
@font-face{
	 font-family: 'Montserrat-light'; 
    src: url(../fonts/Montserrat-light.ttf); 
   }
   @font-face{
	 font-family: 'Montserrat-Regular'; 
    src: url(../fonts/Montserrat-Regular.ttf); 
   }
body{
	line-height: 1.2;
	font-size: 16px;
}
.midle-contriner{
	overflow: hidden;
    margin: 0 auto;
    max-width: 960px;
}
h1{
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 1.5;
	font-size:  52px;
}
h2{
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	font-size:  30px;
}
h3{
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	line-height: 1.5;
	font-size: 24px;
}
h4{
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 28px;
}
h5{
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	font-size: 20px;
}
h6{
	font-family: 'Montserrat Light', arial;
	color: #555555;
	line-height: 1.5;
	font-size: 14px;
}
li{
	list-style-type: none;
	display: inline-block;
}
p{
	font-family: 'Montserrat Light', arial;
}	
.block1 ul{
	padding-left: 0px;
}
.block1 li:nth-child(2){
	margin: 0px 20px;
}
a {
color: #cbb7a0;
text-decoration: none;
font-family: 'Montserrat Light', sans-serif;
}
a:hover {
text-decoration: underline;
}
b {
	font-family: 'Montserrat-Regular', sans-serif;
	color: #000;
}	
.block2 {
	font-size: 14px;
}
.block2 ul{
	padding-left: 0px;
}
.block2 li:nth-child(2){
	margin: 0px 20px;
}
.block3 ul{
	padding-left: 0px;
}
.block3 li h5{
	margin-left: 40px;
	font-family: 'Montserrat Light', arial;
	display: inline-block;
	vertical-align: 5px;
	line-height: 1.5;
}
.block4{
	border-left: 12px solid #eaeeee;
}
.block4 p{
	margin-left: 10px;
}
.block4 span{
	margin-left: 10px;
	font-family: 'Montserrat-Regular', sans-serif;
}
.block5 h5{
	margin-top: 50px;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #000;
	line-height: 1.5;
	font-size: 14px;
}
.block5 input{
	height: 37px;
	width: 400px;
	background:  #eaeeee;
	border: 0px;
}
.block5 button{
	background: #998675;
	border-radius: 5px;
	padding: 12px;
	border:0px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}  
.block6 h5{
	margin-top: 50px;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #000;
	line-height: 1.5;
	font-size: 14px;
}
.block6 input{
	height: 63px;
	width: 555px;
	background: #eaeeee;
	border: 0px;
}
.block6 button{
	background: #998675;
	border-radius: 5px;
	padding: 25px;
	border:0px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
				